<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sweet Talking Lyrics</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
	<nav class="fixed-top navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">Sweet Talking Lyrics</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only"></span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">HomeD
						<span class="sr-only"></span>
				</a></li>
			</ul>
		</div>
	</nav>

	<div role="main" class="container">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p class="lead">This is a simple hero unit, a simple
				jumbotron-style component for calling extra attention to featured
				content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space
				content out within the larger container.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn
				more</a><br><br>
			<h1>Lista de letras</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra augue neque, sit amet imperdiet tellus sagittis non. Maecenas vitae nisl nec purus lacinia laoreet blandit ac ligula. Suspendisse convallis hendrerit porttitor. Nunc diam est, placerat ac lacus nec, interdum hendrerit nibh. Vestibulum semper urna quis tellus congue auctor quis nec ligula. Duis ex justo, feugiat quis quam non, tristique blandit lacus. Nulla cursus pretium nunc sit amet auctor. Nam egestas purus eget nulla maximus laoreet. Pellentesque viverra risus a ex ultricies vestibulum. Integer sollicitudin sem nec libero pulvinar gravida. Pellentesque pellentesque feugiat enim, pulvinar fermentum nulla faucibus nec. Ut blandit magna neque, sed vehicula lectus blandit sed. Quisque ante urna, gravida at cursus in, eleifend non lectus.
			</p>
			<p>Etiam pellentesque tempus mi vitae lacinia. Morbi ac tellus et nulla semper convallis ac eget urna. Aliquam laoreet ullamcorper mattis. Phasellus volutpat augue tortor, vitae porttitor odio ornare at. Donec sodales efficitur semper. Vivamus at faucibus mauris. Mauris vel sem ullamcorper, sagittis nisi non, eleifend lacus. Fusce viverra erat sed arcu condimentum ornare. Nulla facilisi. Nulla mattis mauris sed nulla hendrerit rhoncus. In sed libero aliquam, porttitor erat vitae, feugiat ante.
			</p>
			<p>Maecenas condimentum orci id nunc sollicitudin porta. Sed sit amet sem blandit, tristique magna sit amet, sodales ex. Mauris eget sem at nibh posuere porttitor at at eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla varius luctus sapien vitae cursus. Vivamus nibh turpis, interdum blandit cursus vel, lacinia eu eros. Vestibulum diam arcu, condimentum vitae mauris at, aliquet blandit mauris. Nunc facilisis elementum ante, in iaculis magna dapibus vitae. Nunc malesuada lorem eget lorem mattis, sit amet pulvinar dolor blandit. Aliquam vel euismod tellus, in vehicula ante. Aenean vel interdum ipsum. Etiam gravida dolor dolor, venenatis imperdiet mauris vulputate ut.
			</p>
			<p>Vestibulum nec hendrerit leo. Suspendisse vel iaculis quam, in sagittis felis. Integer sed justo porttitor, tristique nibh vel, placerat urna. Curabitur vitae nisl lectus. Mauris pharetra tempor ipsum, in molestie felis dictum vel. Pellentesque consequat at lectus eget fermentum. Vestibulum et massa odio. Sed laoreet aliquet luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut luctus nisl. Suspendisse volutpat in nisl vitae aliquet. Ut nec tellus justo. Aenean efficitur, urna ac suscipit egestas, quam urna dictum sapien, ac bibendum odio risus a magna. Mauris eu arcu diam. Duis pulvinar pellentesque sapien ut interdum. Nulla aliquam sit amet quam id gravida.
			</p>
			<table>
				<thead>
					<tr>
						<th>Artista</th>
						<th>Album</th>
						<th>Musica</th>
						<th>Lyrics by</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="letra: ${letrasList}">
						<tr>
							<td th:text="${letra.musica.albuns[0].artista.nome}"></td>
							<td th:text="${letra.musica.albuns[0].nome}"></td>
							<td th:text="${letra.musica.nome}"></td>
							<td th:text="${letra.descricao}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<footer class="bg-dark text-light bottom p-4">
		<div class="d-flex justify-content-center container">
			Developed in a <span class="text-danger mr-2 ml-2 font-weight-bold">&#x26C8;</span>
			by Nimbus &copy; 2020
		</div>
	</footer>

	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</body>
</html>